.card-type
  flex-shrink: 0
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 420px
  height: 590px
  padding: 112px 48px 32px
  border-radius: 20px
  background-color: $pure-white

  @include desktop
    width: 290px
    height: 438px
    padding: 81px 24px 24px

  @include tablet
    width: 100%
    height: auto

  &__circle
    position: absolute
    top: -64px
    left: calc(50% - 64px)
    width: 128px
    height: 128px
    background-color: $pure-white
    border: 10px solid $background
    border-radius: 50%
    overflow: hidden

    @include desktop
      width: 108px
      height: 108px

    img
      position: absolute
      top: 50%
      left: 50%
      width: 70%
      height: 70%
      transform: translate(-50%, -50%)

  &__pre
    //@include font(18, 22)
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.6
    font-weight: 500
    opacity: 0.25
    margin-bottom: 16px

    @include desktop
      margin-bottom: 12px

  &__title
    //@include font(32, 40)
    font-size: clamp(24px, calc(24px + (32 - 24) * ((100vw - 768px) / (1920 - 768))), 32px)
    line-height: 1.2
    font-weight: 600


    @include desktop
      margin-bottom: 20px

    @include tablet
      margin-bottom: 430px

  &__description
    //@include font(18, 28)
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.6

    @include tablet
      text-align: center

  &__button
    //@include font(16, 20)
    font-size: 16px
    line-height: 1.6
    margin-top: auto

    @include tablet
      margin: 24px auto 0

    &--project
      padding: 14px 28px


.card-type__filter-wrapper
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 32px
  position: relative

.card-type__filter-button
  cursor: pointer
  & svg
    transform: rotate(180deg)
    transition: transform 0.2s ease-in-out
  &:hover
    .card-type__title
      color: $blue
    & svg
      transform: rotate(0)
      & path
        fill: $blue
    & > .card-type__filter-list
      display: flex
.card-type__filter-list
  list-style: none
  position: absolute
  top: 100%
  left: 0
  width: 100%
  z-index: 15
  background: $pure-white
  display: none
  flex-direction: column
  padding: 32px 0
.card-type__filter-item
  padding: 8px
  font-size: 16px
  font-weight: 500
  line-height: 40px
  &:not(:last-child)
    border-bottom: 1px solid #E5E5E5
  & a
    text-decoration: none
    width: 100%
    display: inline-block
    &:hover
      color: $blue

@media (max-width: 767px)
  .card-type__filter-wrapper
    align-items: flex-start
  .card-type__filter-button
    & .icon
      transform: rotate(180deg)
      transition: transform 0.2s ease-in-out
    & .icon.rotated
      transform: rotate(0)
      & path
        fill: $blue
  .card-type__title
    &.blue
     color: $blue
  .card-type__filter-list
    top: 4rem
    padding: 32px 24px
    border-radius: 4px
    box-shadow: 0 80px 60px rgba(0, 0, 0, 0.07), 10px 20px 6px rgba(0, 0, 0, 0.024)
    &.active
      display: flex
