mixin AboutCompany
  .about-company&attributes(attributes)
    picture.about-company__image
      source(srcset="./assets/img/about-company-test_tablet_v.png" media="(max-width: 991px)" width="100%")
      img(srcset="./assets/img/about-company-test.png" media="(min-width: 992px)" width="100%")
    .about-company__description.wrapper.wrapper--padding
      .about-company__box
        p.about-company__title Веб-студия Webster STD
        p.about-company__text Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов
        .about-company__actions
          a.not-link.about-company__button.button.button--black
            span.button__text Начать проект
          a.about-company__button.button.button--more
            span.button__text Познакомиться
            <svg class="icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="100%" height="100%" rx="50%" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2933 18.2933C10.9023 18.6842 10.9023 19.3162 11.2933 19.7072C11.6843 20.0982 12.3163 20.0982 12.7073 19.7072L17.7073 14.7073C18.0983 14.3163 18.0983 13.6842 17.7073 13.2933L12.7073 8.29325C12.3163 7.90225 11.6843 7.90225 11.2933 8.29325C10.9023 8.68425 10.9023 9.31625 11.2933 9.70725L15.5863 14.0002L11.2933 18.2933Z" fill="white"/>
            </svg>

