.about-company
  position: relative
  display: flex
  flex-wrap: wrap

  @include tablet
    flex-direction: column

  &__description
    padding-top: 10rem
    padding-bottom: 10rem
    padding-left: 10rem

  &__image
    position: absolute
    top: -40px
    right: -72px
    z-index: -1
    height: auto
    width: 54%

  &__box
    max-width: 100%
    width: 50%

    @include tablet
      margin: 0 auto
      text-align: center
      width: 50%

  &__title
    font-size: clamp(36px, calc(36px + (80 - 36) * ((100vw - 768px) / (1920 - 768))), 80px)
    line-height: 1.2
    font-weight: 600
    margin-bottom: 32px

  &__text
    max-width: 100%
    width: 450px
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.4
    font-weight: 400
    margin-bottom: 40px

    @include tablet
      margin: 0 auto 24px

  &__actions
    display: flex
    align-items: center
    justify-content: flex-start

    @include tablet
      flex-direction: column-reverse
      align-items: center

  &__button
    margin-right: 40px

    @include tablet
      margin: 0 0 16px

@media (max-width: 768px)
  .about-company__description
    padding: 6rem
  .about-company__box
    width: 50%
  .about-company__actions
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

@media (max-width: 580px)
  .about-company
    flex-direction: column
  .about-company__image
    position: static
    width: 100%
  .about-company__box
    width: 100%
  .about-company__description
    width: 100%
    padding: 16px
  .about-company__actions
    justify-content: center
    align-items: center
    flex-direction: column-reverse
