mixin Products
  .products.wrapper
    p.products__title Создаем цифровые продукты, которые имеют значение
    ul.products__advantages
      li.products__advantages-item.card-advantage
        p.card-advantage__title Более 150 проектов
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      li.products__advantages-item.card-advantage
        p.card-advantage__title 1 000 000 лет на рынке
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      li.products__advantages-item.card-advantage
        p.card-advantage__title 1011 довольных клиентов
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.

    +ProductsList

