.products

  &__title
    @include font(64, 78)
    font-weight: 600
    margin-bottom: 72px
    padding: 0 48px

  &__advantages
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 80px
    list-style: none
    padding: 0 48px 40px
