mixin Products
  .products.wrapper
    p.products__title Создаем цифровые продукты, которые имеют значение
    ul.products__advantages
      li.products__advantages-item.card-advantage
        p.card-advantage__title Более 150 проектов
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      li.products__advantages-item.card-advantage
        p.card-advantage__title 1 000 000 лет на рынке
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      li.products__advantages-item.card-advantage
        p.card-advantage__title 1011 довольных клиентов
        p.card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.

    ul.products__list
      li.products__list-item
        +CardProduct
      li.products__list-item
        +CardProduct
      li.products__list-item
        +CardProduct
      div.products__sublist.js-collapse-sublist
        .products__list-item.products__list-item--main
          +CardProductMain
          button.products__button-list-collapse.button.button--collapse.js-collapse-button
            span.button__text Свернуть
            <svg class="icon" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.8574 13.6713C18.8574 13.4409 18.771 13.2105 18.5992 13.035L11.5516 5.83503C11.2072 5.48313 10.6504 5.48313 10.306 5.83503L3.25834 13.035C2.91389 13.3869 2.91389 13.9557 3.25834 14.3076C3.60279 14.6595 4.15955 14.6595 4.50401 14.3076L10.9288 7.74392L17.3536 14.3076C17.698 14.6595 18.2548 14.6595 18.5992 14.3076C18.771 14.1321 18.8574 13.9017 18.8574 13.6713Z" fill="currentColor" fill-opacity="0.8"/>
            </svg>
        ul.products__list
          li.products__list-item
            +CardProduct
          li.products__list-item
            +CardProduct
          li.products__list-item
            +CardProduct
      li.products__list-item
        +CardProduct

