mixin Faq
  .faq
    p.faq__title Под нашей ответственностью
    ul.faq__list.js-faq(data-faq="accordion")
      li.faq__item
        button.faq__item-head.js-faq-button
          .faq__item-head-content Создание и обслуживание сайтов
          <svg class="icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9999 5.3335C16.7363 5.3335 17.3333 5.93045 17.3333 6.66683V14.6668H25.3333C26.0696 14.6668 26.6666 15.2638 26.6666 16.0002C26.6666 16.7365 26.0696 17.3335 25.3333 17.3335H17.3333V25.3335C17.3333 26.0699 16.7363 26.6668 15.9999 26.6668C15.2635 26.6668 14.6666 26.0699 14.6666 25.3335V17.3335H6.66659C5.93021 17.3335 5.33325 16.7365 5.33325 16.0002C5.33325 15.2638 5.93021 14.6668 6.66659 14.6668H14.6666V6.66683C14.6666 5.93045 15.2635 5.3335 15.9999 5.3335Z" fill="currentColor"/>
          </svg>
        .faq__item-content.hide-faq
          p Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
          ul
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
      li.faq__item
        button.faq__item-head.js-faq-button
          .faq__item-head-content Создание и обслуживание сайтов
          <svg class="icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9999 5.3335C16.7363 5.3335 17.3333 5.93045 17.3333 6.66683V14.6668H25.3333C26.0696 14.6668 26.6666 15.2638 26.6666 16.0002C26.6666 16.7365 26.0696 17.3335 25.3333 17.3335H17.3333V25.3335C17.3333 26.0699 16.7363 26.6668 15.9999 26.6668C15.2635 26.6668 14.6666 26.0699 14.6666 25.3335V17.3335H6.66659C5.93021 17.3335 5.33325 16.7365 5.33325 16.0002C5.33325 15.2638 5.93021 14.6668 6.66659 14.6668H14.6666V6.66683C14.6666 5.93045 15.2635 5.3335 15.9999 5.3335Z" fill="currentColor"/>
          </svg>
        .faq__item-content.hide-faq
          ul
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
            li Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
