.button
  display: flex
  align-items: center
  justify-content: center
  padding: 8px 24px
  @include font(14, 24)
  font-weight: 500
  border-radius: 100px
  outline: none

  .icon + .button__text
    margin-left: 16px

  &__text
    white-space: nowrap

    + .icon
      margin-left: 16px

  &--black
    color: $pure-white
    background-color: $text_black
    transition: background-color 0.2s ease-in
    &:hover
      background-color: $red
      color: $pure-white

  &--gradient-1
    background: $gradient1

  &--gradient-2
    background: $gradient2

  &--gradient-3
    background: $gradient3

  &--outline
    border: 1px solid $border-grey-2
    transition: background-color 0.2s ease-in-out
    &_black:hover
      background-color: $text_black
      color: $pure-white
    &_red:hover
      background-color: $red
      color: $pure-white
    &_blue:hover
      background-color: $blue
      color: $pure-white
  &--outline-black
    border: 1px solid $text_black

  &--more
    padding: 12px 0
    @include font(16, 20)
    font-weight: 600

  &--review
    @include font(16, 20)
    font-weight: 400
    padding: 0
    .button__text
      position: relative
      opacity: 0.5
      text-decoration: underline 1px dashed
      text-decoration-color: rgba($text_black, 0.5)
      text-underline-offset: 6px

  &--collapse
    @include font(16, 20)
    font-weight: 500
    background: $pure-white

  &--tab
    @include font(26, 40)
    background: transparent
    border: 1px dashed $text_black
    opacity: 0.35
    border-radius: 12px
    &.active
      color: $pure-white
      background-color: $text_black
      opacity: 1
