.button
  display: flex
  align-items: center
  justify-content: center
  padding: 8px 24px
  //@include font(14, 24)
  font-size: 14px
  line-height: 1.6
  font-weight: 500
  border-radius: 100px
  outline: none
  transition: all 0.3s ease-in
  .icon + .button__text
    margin-left: 16px

  &__text
    white-space: nowrap

    + .icon
      margin-left: 16px

  &--black
    color: $pure-white
    background-color: $text_black

    &:hover
      background-color: $blue
      color: $pure-white

  &--gradient-1
    background: $gradient1

    &:hover
      background: $text_black
      color: $pure_white

  &--gradient-2
    background: $gradient2

    &:hover
      background: $text_black
      color: $pure_white
  &--gradient-3
    background: $gradient3
    &:hover
      background: $text_black
      color: $pure_white

  &--outline
    border: 1px solid $border-grey-2
    &:hover
      background-color: $blue
      color: $pure-white
    &_black:hover
      background-color: $text_black
      color: $pure-white
    &_red:hover
      background-color: $red
      color: $pure-white
    &_blue:hover
      background-color: $blue
      color: $pure-white
    &--medicine
      border: 1px solid #BDE7FE
      border-left-color:  #94FFC5
      &:hover
        border-color: $pure-black
    &--rest
      border: 1px solid #FFD6C0
      border-right-color:  #F1BBFF
      border-bottom-color:  #F1BBFF
      &:hover
        border-color: $pure-black
    &--hotel
      border: 1px solid #BBFFF3
      border-right-color:  #F1BBFF
      border-bottom-color:  #E3C0FF
      border-left-color: #D7F0FF
      &:hover
        border-color: $pure-black

  &--outline-black
    border: 1px solid $text_black

  &--more
    padding: 12px 0
    //@include font(16, 20)
    font-size: 16px
    line-height: 1.25
    font-weight: 600
    &:hover
      color: $blue
      svg rect
        fill: none
      svg path
        fill: $blue

  &--review
    //@include font(16, 20)
    font-size: 16px
    line-height: 1.25
    font-weight: 400
    padding: 0
    .button__text
      position: relative
      opacity: 0.5
      text-decoration: underline 1px dashed
      text-decoration-color: rgba($text_black, 0.5)
      text-underline-offset: 6px

  &--collapse
    //@include font(16, 20)
    font-size: 16px
    line-height: 1.25
    font-weight: 500
    background: $pure-white

  &--tab
    //@include font(26, 40)
    font-size: clamp(18px, calc(18px + (26 - 18) * ((100vw - 768px) / (1920 - 768))), 26px)
    line-height: 1.6
    background: transparent
    border: 1px dashed $text_black
    opacity: 0.35
    border-radius: 12px
    &.active,
    &:hover
      color: $pure-white
      background-color: $text_black
      opacity: 1
