mixin CardServicesContainer
  .card-services-container&attributes(attributes)
    .card-services__block.card-services__block_white
      img(src="../assets/img/card-services-white.svg")
    .card-services__block.card-services__block_black
      img(src="../assets/img/card-services-black.svg")
    .card-services__block.card-services__block_red
      img(src="../assets/img/card-services-red.svg")
