mixin CardServicesContainer
  .card-services-container&attributes(attributes)
    img(src="./assets/img/card-services-1.png")
    img(src="./assets/img/card-services-2.png")
    img(src="./assets/img/card-services-3.png")
