mixin CardServicesContainer
  .card-services-container&attributes(attributes)
    .card-services__block.card-services__block_white
      p.card-services__subtitle Дизайн
      p.card-services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet sit massa, ultrices fringilla diam. Dignissim ac aliquam adipiscing auctor aliquam tincidunt habitant. Tristique tempus risus.
    .card-services__block.card-services__block_black
      p.card-services__text <span class="blue">&lt;div</span> <span class="red">class=</span>”content_title”&gt;
      p.card-services__text(style="margin-left: 24px") <span class="blue">&lt;h1</span> <span class="red">class=</span><span class="blue">”</span>content_title<span class="blue">”&gt;</span> Разработка <span class="blue">&lt;/h1&gt;</span>
      p.card-services__text <span class="blue">&lt;p</span> <span class="red">class=</span><span class="blue">”</span>content_text<span class="blue">”&gt;</span>
      p.card-services__text(style="margin-left: 24px; margin-top: 24px") ”Корпоративные сайты, интернет-магазины, каталоги, промо проекты, landing page. Создание сайтов на 1-C Битрикс и Wordpress. Разработка приложений.”
    .card-services__block.card-services__block_red
      p.card-services__subtitle Продвижение
      p.card-services__text Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.

