.screen-services
  &__title
    //@include font(80, 96)
    font-size: clamp(36px, calc(36px + (80 - 36) * ((100vw - 768px) / (1920 - 768))), 80px)
    line-height: 1.4
    font-weight: 600

    span
      padding: 0 16px 8px
      border-radius: 20px
      box-shadow: inset 0 0 13px $pure-white
      white-space: nowrap
    &--medicine
      span
        background: $gradient1
    &--rest
      span
        background: $gradient2
    &--hotel
      span
        background: $gradient3
    &--key
      span
        background: $text_black
        color: $pure_white
    &--promotion
      span
        background: $red
        color: $pure_white
    &--360
      span
        background: $blue
        color: $pure_white

