mixin ScreenServicesMedicine
  .screen-services
    p.screen-services__title.screen-services__title--medicine Комплексные решения <br /> digital маркетинга  <span> в медицине</span>

mixin ScreenServicesRest
  .screen-services
    p.screen-services__title.screen-services__title--rest Комплексные решения <br /> digital маркетинга <span> для ресторанов</span>

mixin ScreenServicesHotel
  .screen-services
    p.screen-services__title.screen-services__title--hotel Комплексные решения <br /> digital маркетинга <span> для отелей</span>

mixin ScreenServicesKey
  .screen-services
    p.screen-services__title.screen-services__title--key Создание сайтов <span>под ключ</span>

mixin ScreenServicesPromotion
  .screen-services
    p.screen-services__title.screen-services__title--promotion Продвижение сайтов <span>в топ</span>

mixin ScreenServices360
  .screen-services
    p.screen-services__title.screen-services__title--360 Поддержка сайтов <span>360</span>
