mixin SliderTypeCommon
  .slider-type__slider.swiper-container.js-slider-type
    .swiper-wrapper
      +SliderCardType.swiper-slide
      +SliderCardType.swiper-slide
      +SliderCardType.swiper-slide
      +SliderCardType.swiper-slide
      +SliderCardType.swiper-slide
      +SliderCardType.swiper-slide

    .slider-type__nav-wrapper
      button.slider-type__nav.slider-type__nav--prev
        <svg class="icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" rx="50%" transform="matrix(-1 0 0 1 48 0)" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.6402 31.3599C29.3105 32.0302 29.3105 33.1136 28.6402 33.7839C27.9699 34.4541 26.8865 34.4541 26.2162 33.7839L17.6448 25.2124C16.9745 24.5422 16.9745 23.4587 17.6448 22.7884L26.2162 14.217C26.8865 13.5467 27.9699 13.5467 28.6402 14.217C29.3105 14.8873 29.3105 15.9707 28.6402 16.641L21.2808 24.0004L28.6402 31.3599Z" fill="#090809"/>
        </svg>
      button.slider-type__nav.slider-type__nav--next
        <svg class="icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" rx="50%" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.6402 31.3599C29.3105 32.0302 29.3105 33.1136 28.6402 33.7839C27.9699 34.4541 26.8865 34.4541 26.2162 33.7839L17.6448 25.2124C16.9745 24.5422 16.9745 23.4587 17.6448 22.7884L26.2162 14.217C26.8865 13.5467 27.9699 13.5467 28.6402 14.217C29.3105 14.8873 29.3105 15.9707 28.6402 16.641L21.2808 24.0004L28.6402 31.3599Z" fill="#090809"/>
        </svg>

mixin SliderTypeMedicine
  .slider-type.slider-type--medicine
    +SliderTypeCommon

mixin SliderTypeRest
  .slider-type.slider-type--rest
    +SliderTypeCommon

mixin SliderTypeHotel
  .slider-type.slider-type--hotel
    +SliderTypeCommon

mixin SliderTypeKey
  .slider-type.slider-type--key
    +SliderTypeCommon
