mixin TrustMedicine
  .trust&attributes(attributes)
    p.trust__title Нам доверяют
    p.trust__description Успех наших проектов заключается в качественном и детальном подходе. Мы стремимся сделать бизнес наших клиентов не только прибыльнее, но и повысить лояльность пациентов.
    .trust__layout
      .trust__advantages.card-advantage
        .card-advantage__title 5 лет работы
        .card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      .trust__advantages.card-advantage
        .card-advantage__title Больше 15 проектов на поддержке
        .card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      .trust__advantages.card-advantage
        .card-advantage__title Увеличили количество первичных пациентов на 30%
        .card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      .trust__advantages.card-advantage
        .card-advantage__title Digital-продвижение 360°
        .card-advantage__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
