mixin Clients
  .clients.wrapper.wrapper--padding
    .clients__box
      p.clients__title Клиенты
      p.clients__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      a.not-link.button.button--outline.button--outline_blue.clients__button.js-openPopup Стать клиентом
    ul.clients__grid
      li.clients__grid-item
        img(src="./assets/img/logo/Ecco.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/Sber.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/MriyaResort.svg")

      li.clients__grid-item
        img(src="./assets/img/logo/IndiLight.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/RGD.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/Jacobs.svg")

      li.clients__grid-item
        img(src="./assets/img/logo/Metropol.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/Krasnobor.svg")
      li.clients__grid-item
        img(src="./assets/img/logo/Rosatom.svg")

