mixin Clients
  .clients.wrapper.wrapper--padding
    .clients__box
      p.clients__title Клиенты
      p.clients__description Создаем и продвигаем сайты, оказываем комплексную поддержку в интернет-маркетинге для бизнеса, развиваем digital-экосистему клиентов.
      a.not-link.button.button--outline.clients__button Стать клиентом
    ul.clients__grid
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
      li.clients__grid-item
        img(src="./assets/img/client-test.png")
