mixin StatementBox
  .statement-box&attributes(attributes)
    p.statement-box__description <b>Мы детально подходим к задачам бизнеса и качественно реализуем пожелания клиентов.</b> Гордимся нашим клиентоориентированным подходом: во время сотрудничества мы подробно рассказываем о методах решения задач, влиянии нашей работы на бизнес.
    .statement-box__author
      .statement-box__avatar
        img(src="./assets/img/avatar-test.jpg")
      .statement-box__wrapper
        p.statement-box__name Павел Пеньшин
        span.statement-box__type С ним вы будете общаться по поводу правочек
