mixin Cooperation
  .cooperation
    img.cooperation__bg(src="./assets/img/cooperation-test.png")
    p.cooperation__title Форматы сотрудничества
    p.cooperation__description Успех наших проектов заключается в качественном и детальном подходе. Мы стремимся сделать бизнес наших клиентов не только прибыльнее, но и повысить лояльность пациентов.
    .cooperation__layout
      .cooperation__advantages.card-advantage
        .card-advantage__title Комплексное обслуживание
        .card-advantage__subtitle Удобный и предсказуемый формат для длительного сотрудничества
        .card-advantage__description Полноценный план стратегического развития с утвержденным количеством необходимых для реализации проекта часов. Оплата постоянными платежами фиксированной суммы ежемесячно.
      .cooperation__advantages.card-advantage
        .card-advantage__title Оперативное обслуживание
        .card-advantage__subtitle Точечное решения проблем, когда вы глубоко погружены в собственный проект
        .card-advantage__description Решение конкретных задач по входящим запросам, без глобального планирования. Оплата за реализованные задачи. Стоимость часа — 1 300 рублей.
