+font-face("Golos", "../fonts/Golostext_regular", 400)
+font-face("Golos", "../fonts/Golostext_medium", 500)
+font-face("Golos", "../fonts/Golostext_demibold", 600)
+font-face("Golos", "../fonts/Golostext_bold", 700)
+font-face("Golos", "../fonts/Golostext_black", 900)

*
  margin: 0
  padding: 0
  box-sizing: border-box

button
  border: none
  background: transparent
  color: inherit
  font: inherit
  cursor: pointer

a
  color: inherit
  text-decoration: none
  cursor: pointer
  &:not(.not-link)
    transition: color $transition-time
    @include hover
      color: $blue

html
  font-family: "Golos", 'Roboto', 'Arial', sans-serif
  //font-size: $font_base * 1px
  font-size: clamp(10px, calc(10px + (16 - 10) * ((100vw - 768px) / (1920 - 768))), 16px)
  line-height: 1.4
  //line-height: $font_base * 1.2 * 1px
  font-weight: 400
  color: $text_black
  scroll-behavior: smooth

  //@include screen_lg
    font-size: ($font_base - 1) * 1px

  //@include desktop
    font-size: ($font_base - 2) * 1px

body
  min-height: 100vh
  background-color: $background

.noscroll
  overflow: hidden

.is-article-page
  .page
    overflow: visible

.container
  width: 100%
  max-width: 1920px
  margin: 0 auto
  padding-left: 72px
  padding-right: 72px

  @include screen_lg
    padding-left: 32px
    padding-right: 32px

  @include desktop
    padding-left: 24px
    padding-right: 24px

  @include tablet
    padding-left: 16px
    padding-right: 16px

  &--clear
    padding-left: 0
    padding-right: 0

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden

  main
    flex-grow: 1

.wrapper
  width: 1570px
  max-width: 100%
  margin: 0 auto

  &--padding
    padding: 0 48px

    @include screen_lg
      padding: 0 24px

    @include tablet
      padding: 0


.slider-type-container
  position: relative
  display: flex
  align-items: center
  padding-top: 64px

  @include tablet
    width: calc(100% + 32px)
    margin: 0 -16px

  .slider-type
    width: calc(100% + 72px)
    margin-right: -72px

    @include screen_lg
      width: calc(100% + 36px)
      margin-right: -36px

    @include desktop
      width: calc(100% + 24px)
      margin-right: -24px

    @include tablet
      position: absolute
      top: 240px
      left: 0
      width: 100%
      margin: 0


.card-product-layout,
.card-news-layout
  display: grid
  grid-gap: 100px
  grid-template-columns: 1fr 1fr

@media (max-width: 992px)
  .card-product-layout,
  .card-news-layout
    grid-gap: 3rem
    grid-template-columns: 1fr

.services-page
  &__title
    //@include font(80, 96)
    font-size: clamp(36px, calc(36px + (80 - 36) * ((100vw - 768px) / (1920 - 768))), 80px)
    line-height: 1.2
    font-weight: 600
    margin-bottom: 56px

.card-advantage
  display: flex
  flex-direction: column
  justify-content: space-between
  &__title
    //@include font(24, 38)
    font-size: clamp(16px, calc(16px + (24 - 16) * ((100vw - 768px) / (1920 - 768))), 24px)
    line-height: 1.4
    font-weight: 600
    margin-bottom: 16px

  &__subtitle
    //@include font(18, 30)
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.6
    font-weight: 600
    margin-bottom: 16px

  &__description
    //@include font(18, 30)
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.6

  &__price
    //@include font(26, 40)
    font-size: clamp(16px, calc(16px + (26 - 16) * ((100vw - 768px) / (1920 - 768))), 26px)
    line-height: 1.4
    font-weight: 500
    margin-top: auto

.excellence
  display: flex
  &__list
    flex-shrink: 0
    max-width: 100%
    width: 570px
    margin-right: 32px
  &__image
    flex-shrink: 1
    width: 100%
@media (max-width: 992px)
  .excellence
    flex-direction: column


.card-price-layout
  display: grid
  grid-gap: 32px
  grid-template-columns: 1fr 1fr 1fr
@media (max-width: 992px)
  .card-price-layout
    grid-template-columns: repeat(3, 320px)
    width: 100%
    padding-bottom: 16px
    overflow-x: scroll

.card-more-layout
  display: grid
  grid-gap: 2rem
  grid-template-columns: 1fr 1fr 1fr 1fr
@media (max-width: 1280px)
  .card-more-layout
    width: 100%
    padding: 0 24px
    padding-bottom: 16px
    overflow-x: scroll
    grid-template-columns: repeat(4, 320px)





