mixin HeaderTypes_sites()
  .header-types&attributes(attributes)
    span.header-types__name Cайты для
    nav.header-types__nav
      a.not-link.header-types__nav-item.button.button--rounded.button--gradient-1
        span.button__text Медицины
      a.not-link.header-types__nav-item.button.button--rounded.button--gradient-2
        span.button__text Ресторанов
      a.not-link.header-types__nav-item.button.button--rounded.button--gradient-3
        span.button__text Отелей

mixin HeaderTypes_services()
  .header-types&attributes(attributes)
    span.header-types__name Услуги
    nav.header-types__nav
      a.not-link.header-types__nav-item.button.button--rounded.button--outline
        span.button__text Создание сайтов
      a.not-link.header-types__nav-item.button.button--rounded.button--outline
        span.button__text Продвижение сайтов
      a.not-link.header-types__nav-item.button.button--rounded.button--outline
        span.button__text Поддержка сайтов
