mixin HeaderTypes_sites()
  .header-types&attributes(attributes)
    span.header-types__name Cайты для
    nav.header-types__nav
      a.not-link.header-types__nav-item.button.button--gradient-1(href="/for-medicine.html")
        span.button__text Медицины
      a.not-link.header-types__nav-item.button.button--gradient-2(href="/for-rest.html")
        span.button__text Ресторанов
      a.not-link.header-types__nav-item.button.button--gradient-3(href="/for-hotel.html")
        span.button__text Отелей

mixin HeaderTypes_services()
  .header-types&attributes(attributes)
    span.header-types__name Услуги
    nav.header-types__nav
      a.not-link.header-types__nav-item.button.button--outline.button--outline_black(href="/create-website.html")
        span.button__text Создание сайтов
      a.not-link.header-types__nav-item.button.button--outline.button--outline_red(href="/promotion.html")
        span.button__text Продвижение сайтов
      a.not-link.header-types__nav-item.button.button--outline.button--outline_blue(href="/360.html")
        span.button__text Поддержка сайтов
