mixin ExcellenceListMedicine
  ul.excellence-list
    li.excellence-list__item Увеличиваем количество первичных пациентов
    li.excellence-list__item Продвигаем сайт в поиске на первые позиции
    li.excellence-list__item Усиливаем продажи дорогих медицинских услуг
    li.excellence-list__item Создаем и развиваем сайт медицинского учреждения
    li.excellence-list__item Помогаем эффективно управлять клиентской базой
    li.excellence-list__item Разрабатываем стратегию продвижения в интернете
    li.excellence-list__item Управляем репутацией клиники в интернете
    li.excellence-list__item Улучшаем качество клиентского сервиса на сайте

