mixin ExcellenceList
  ul.excellence-list
    li.excellence-list__item Увеличиваем количество первичных пациентов
    li.excellence-list__item Увеличиваем количество первичных пациентов
    li.excellence-list__item Увеличиваем количество первичных пациентов
    li.excellence-list__item Увеличиваем количество первичных пациентов
