mixin VideoContent
  .video-content
    p.video-content__title Создание видео-контента под медицину
    p.video-content__description Создание графического контента, выезд фотографа для проведения съемки новых специалистов, оборудования для сайта и рекламы. Выезд оператора для съемки видео с врачами: интервью, съемка услуг и образовательного контента.
    .video-content__video
      iframe.js-video-iframe(allowfullscreen="" allow="autoplay" src="https://www.youtube.com/embed/neHA4MJwpnY?rel=0&amp;showinfo=0&amp;autoplay=0")
    .video-content__nav-layout
      button.video-content__button.active
        img.video-content__image(src="./assets/img/video-content-test.jpg")
      button.video-content__button
        img.video-content__image(src="./assets/img/video-content-test.jpg")
      button.video-content__button
        img.video-content__image(src="./assets/img/video-content-test.jpg")
      button.video-content__button
        img.video-content__image(src="./assets/img/video-content-test.jpg")
