extends ../layouts/main

block variables
  - var title = "Контакты"
  - var pageClass = ''
  - var activePage = 'contacts'

block content
  section.section.section--contacts
    .contacts
      .contacts__description
        .contacts__box
          a.contacts__title(href="#") +7 499 964-04-84
          a.contacts__title(href="#") info@websterstd.com
          button.contacts__title.js-openForm Начать проект
        +CardNotificationGuest
        +SectionRowBottom(true).contacts__footer
      .contacts__map(id="map")

block script
  script(src="https://api-maps.yandex.ru/2.1/?apikey=4576eb7f-e69a-430e-9fcb-1d91f7fd66a3&lang=ru_RU&onload=init" type="text/javascript")
