extends ../layouts/main

block variables
  - var title = "Для отелей"
  - var pageClass = ''
  - var activePage = 'for-hotel'

block content
  section.section.section--service-page
    .container
      .wrapper.wrapper--padding
        +ScreenServicesHotel
  section.section.section--default
    .container
      .slider-type-container
        +CardTypeRest
        +SliderTypeHotel
  section.section.section--default
    .container
      .excellence.wrapper.wrapper--padding
        .excellence__list
          +ExcellenceListMedicine
        img.excellence__image(src="./assets/img/excellent-test-hotel.png")
  section.section.section--default
    +CardServicesContainer
  section.section.section--default
    .container
      +TrustMedicine.wrapper.wrapper--padding
  section.section.section--default.section--prices-hotel
    .container
      .wrapper.wrapper--padding
        .tabs.js-tabs
          p.tabs__title Пакеты цен
          .tabs__nav
            button.button.button--tab.tabs__tab.js-tabs-tab
              span.button__text Реклама
            button.button.button--tab.tabs__tab.js-tabs-tab
              span.button__text Поддержка
          .tabs__panels
            .tabs__panel.js-tabs-panel
              .card-price-layout
                +CardPriceMin
                +CardPriceOptima
                +CardPriceMax
            .tabs__panel.js-tabs-panel
              .card-price-layout
                +CardPriceMin
                +CardPriceOptima
        .section.section--default
          +Cooperation

  section.section.section--default
    .container
      .wrapper.wrapper--padding
        +Faq

  section.section.section--default
    .card-more-layout
      +CardMore
      +CardMore
      +CardMore

  section.section.section--default
    .container
      .wrapper.wrapper--padding
        +Form
