extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.section.section--screen-main
    .container
      +ScreenMain
  section.section.section--type-slider
    .container
      .slider-type-container
        +CardTypeMain
        +SliderTypeMedicine
  section.section
    .container
      +AboutCompany
  section.section.section--default
    +Products
  section.section.section--clients
    .container
      +Clients
  section.section.section--default
    .container
      .wrapper.wrapper--padding
        +Form

