mixin ScreenMain
  .screen-main.wrapper.wrapper--padding&attributes(attributes)
    .screen-main__image(id="image_0" width="700px" height="300px")
      //img.screen-main__image-bg(src="./assets/img/screen-main1.png" )
    +StatementBox.screen-main__box
