.card-product-category
  position: relative
  width: 100%
  height: 100%
  border-radius: 20px
  overflow: hidden

  @include pseudo-before
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $gradient1
    box-shadow: inset 0 0 16px $pure-white
    z-index: 0

  &__inner
    position: relative
    width: 100%
    height: 100%
    padding: 32px 48px
    background-repeat: no-repeat
    background-position: center right
    background-size: contain
    z-index: 1

  &__box
    display: flex
    flex-direction: column

  &__pre
    //@include font(18, 22)
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 768px) / (1920 - 768))), 18px)
    line-height: 1.6
    opacity: 0.25
    margin-bottom: 8px

  &__title
    //@include font(32, 40)
    font-size: clamp(18px, calc(18px + (32 - 18) * ((100vw - 768px) / (1920 - 768))), 32px)
    line-height: 1.2
    font-weight: 600


