mixin CardProductCategory
  .card-product-category
    .card-product-category__inner(style="background-image: url('./assets/img/card-type-test.png')")
      .card-product-category__box
        span.card-product-category__pre Группа компаний
        span.card-product-category__title Никор
