.section
  &--screen-main
    margin-top: 5.5rem
    margin-bottom: 3.125rem

  &--clients
    background: $gradient4
    padding: 6rem 0
    margin: 6rem 0 0
  &--default
    margin: 7.8rem 0 0

  &--service-page
    margin: 6rem 0 0

  &--contacts
    position: relative

  &--prices-medicine
    padding: 7.8rem 0
    background: $gradient1
  &--prices-rest
    padding: 7.8rem 0
    background: $gradient2
  &--prices-hotel
    padding: 7.8rem 0
    background: $gradient3
  &--prices-key
    padding: 7.8rem 0
    background: $text_black
  &--prices-360
    padding: 7.8rem 0
    background: $blue

  &--article
    margin-bottom: -7.8rem

