.section
  &--screen-main
    margin-top: 88px
    margin-bottom: 50px

    @include desktop
      margin-top: 48px

  &--clients
    background: $gradient4
    padding: 96px 0
    margin: 96px 0 0
  &--default
    margin: 125px 0 0

  &--service-page
    margin: 96px 0 0

  &--contacts
    position: relative

  &--prices-medicine
    padding: 125px 0
    background: $gradient1
  &--prices-rest
    padding: 125px 0
    background: $gradient2
  &--prices-hotel
    padding: 125px 0
    background: $gradient3
  &--prices-key
    padding: 125px 0
    background: $text_black
  &--prices-360
    padding: 125px 0
    background: $blue

  &--article
    margin-bottom: -125px
