mixin Footer
  footer.footer
    +SectionRowTop.footer__section-top
    +SectionRowMiddle.footer__section-middle
    +SectionRowBottom.footer__section-bottom
  .case__wrapper(id="case")
    .case__close <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.2204 17.2003L26.7818 9.63888C27.3404 9.08031 27.3404 8.17745 26.7818 7.61888C26.2233 7.06031 25.3204 7.06031 24.7618 7.61888L17.2004 15.1803L9.639 7.61888C9.08043 7.06031 8.17757 7.06031 7.619 7.61888C7.06043 8.17745 7.06043 9.08031 7.619 9.63888L15.1804 17.2003L7.619 24.7617C7.06043 25.3203 7.06043 26.2232 7.619 26.7817C7.89757 27.0603 8.26329 27.2003 8.629 27.2003C8.99471 27.2003 9.36043 27.0603 9.639 26.7817L17.2004 19.2203L24.7618 26.7817C25.0404 27.0603 25.4061 27.2003 25.7718 27.2003C26.1376 27.2003 26.5033 27.0603 26.7818 26.7817C27.3404 26.2232 27.3404 25.3203 26.7818 24.7617L19.2204 17.2003Z" fill="white"/></svg>
    section.case
      .case__content__row.case__nav-wrapper
        .case__content__col
          h3.case__nav-title Петровский путевой дворец
        .case__content__col
          .case__nav
            a.case__nav-link.active(href="#") О Клиенте
            a.case__nav-link(href="#") Отзыв
            a.case__nav-link(href="#") Задача
            a.case__nav-link(href="#") Тендер
            a.case__nav-link(href="#") Прототип
            a.case__nav-link(href="#") Структура и навигация
      .case__content
        .case__content__row.case__content__row_wrapper
          .case__content__col
            span.case__maintitle.case__date 2017
          .case__content__col
            h2.case__maintitle  Петровский Путевой дворец
            p.case__text Корпоративный сайт для отеля "Петровский путевой дворец"
            a.case__text(href="") petroffpalacehotel.ru
        .case__content__row.case__content__row_wrapper
          .case__content__col
            h3.case__text.case__title О клиенте
          .case__content__col
            p.case__text Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
        .case__content__row
          img(src="../assets/img/Rectangle43.png" alt="")
        .case__content__row.case__content__row_wrapper
          .case__content__col
            h3.case__text.case__title Задача
          .case__content__col
            p.case__text Разработать корпоративный сайт для отеля «Петровский Путевой Дворец», с функционалом бронирования номеров через сайт, провести интеграцию с системой онлайн бронирования стороннего ресурса, подключения e-commerce на внутренний магазин дворца
        .case__content__row.case__content__row_wrapper
          img(src="../assets/img/Rectangle43.png" alt="")
