mixin CardMoreCommon
  .card-more&attributes(attributes)
    p.card-more__title Создание сайтов, промо-проектов, редизайн
    ul.card-more__list
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Корпоративные сайты для стоматологий, медцентров, косметологических клиник
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники

mixin CardMore
  +CardMoreCommon

mixin CardMoreBlue
  +CardMoreCommon.card-more--blue

mixin CardMoreBlack
  +CardMoreCommon.card-more--black
