mixin CardMore
  .card-more
    p.card-more__title SERM - УПРАВЛЕНИЕ РЕПУТАЦИЕЙ КЛИНИКИ
    ul.card-more__list
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
      li.card-more__item
        img.card-more__item-image(src='./assets/img/card-more-test.png')
        p.card-more__item-text Контроль новых отзывов от клиентов клиники
