.case__wrapper(id="case")
  .case__close.js-closeCase <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.2204 17.2003L26.7818 9.63888C27.3404 9.08031 27.3404 8.17745 26.7818 7.61888C26.2233 7.06031 25.3204 7.06031 24.7618 7.61888L17.2004 15.1803L9.639 7.61888C9.08043 7.06031 8.17757 7.06031 7.619 7.61888C7.06043 8.17745 7.06043 9.08031 7.619 9.63888L15.1804 17.2003L7.619 24.7617C7.06043 25.3203 7.06043 26.2232 7.619 26.7817C7.89757 27.0603 8.26329 27.2003 8.629 27.2003C8.99471 27.2003 9.36043 27.0603 9.639 26.7817L17.2004 19.2203L24.7618 26.7817C25.0404 27.0603 25.4061 27.2003 25.7718 27.2003C26.1376 27.2003 26.5033 27.0603 26.7818 26.7817C27.3404 26.2232 27.3404 25.3203 26.7818 24.7617L19.2204 17.2003Z" fill="white"/></svg>
  section.case
    .case__head-row.case__nav-wrapper
      .case__head-col
        h3.case__nav-title Петровский путевой дворец
      .case__head-col
        nav.case__nav
          ul.case__nav-list
            li.case__nav-item
              a.case__nav-link.active(href="#aboutclient") О Клиенте
            li.case__nav-item
              a.case__nav-link(href="#feedback") Отзыв
            li.case__nav-item
              a.case__nav-link(href="#task") Задача
            li.case__nav-item
              a.case__nav-link(href="#tender") Тендер
            li.case__nav-item
              a.case__nav-link(href="#prototype") Прототип
            li.case__nav-item
              a.case__nav-link(href="#") Структура и навигация
          button.case__nav-burger.js-openNav
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 18C21.5523 18 22 18.4477 22 19C22 19.5523 21.5523 20 21 20H7C6.44772 20 6 19.5523 6 19C6 18.4477 6.44772 18 7 18H21ZM21 11C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H21ZM21 4C21.5523 4 22 4.44772 22 5C22 5.55228 21.5523 6 21 6H7C6.44772 6 6 5.55228 6 5C6 4.44772 6.44772 4 7 4H21ZM2 4H4V6H2V4ZM2 11H4V13H2V11ZM2 18H4V20H2V18Z" fill="#090809"/>
            </svg>

    .case__content
      .case__content-row.case__content-row_wrapper
        .case__content-col
          span.case__maintitle.case__date 2017
        .case__content-col
          h2.case__maintitle  Петровский Путевой дворец
          p.case__text Корпоративный сайт для отеля "Петровский путевой дворец"
          a.case__text(href="") petroffpalacehotel.ru
      .case__content-row.case__content-row_wrapper(id="aboutclient")
        .case__content-col
          h3.case__text.case__title О клиенте
        .case__content-col
          p.case__text Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
      .case__content-row
        img(src="../assets/img/Rectangle43.png" alt="")

      .case__content-row.case__content-row_wrapper(id="feedback")
        .case__content-col
          h3.case__text.case__title Отзыв
        .case__content-col
          p.case__text Разработать корпоративный сайт для отеля «Петровский Путевой Дворец», с функционалом бронирования номеров через сайт, провести интеграцию с системой онлайн бронирования стороннего ресурса, подключения e-commerce на внутренний магазин дворца


      .case__content-row.case__content-row_wrapper(id="task")
        .case__content-col
          h3.case__text.case__title Задача
        .case__content-col
          p.case__text Разработать корпоративный сайт для отеля «Петровский Путевой Дворец», с функционалом бронирования номеров через сайт, провести интеграцию с системой онлайн бронирования стороннего ресурса, подключения e-commerce на внутренний магазин дворца

      .case__content-row.case__content-row_wrapper(id="tender")
        .case__content-col
          h3.case__text.case__title Тендер
        .case__content-col
          p.case__text Разработать корпоративный сайт для отеля «Петровский Путевой Дворец», с функционалом бронирования номеров через сайт, провести интеграцию с системой онлайн бронирования стороннего ресурса, подключения e-commerce на внутренний магазин дворца

      .case__content-row.case__content-row_wrapper(id="prototype")
        .case__content-col
          h3.case__text.case__title Прототип
        .case__content-col
          p.case__text Разработать корпоративный сайт для отеля «Петровский Путевой Дворец», с функционалом бронирования номеров через сайт, провести интеграцию с системой онлайн бронирования стороннего ресурса, подключения e-commerce на внутренний магазин дворца

      .case__content-row.case__content-row_wrapper
        img(src="../assets/img/Rectangle43.png" alt="")
      .case__content-row.case__content-row_wrapper
        .case__separator
      a.case__content-row.case__content-row_wrapper.case__footer(href="#")
        .case__content-col
          h3.case__text.case__title Следующий проект
        .case__content-col
          h2.case__maintitle Mriya Resort&Spa
          p.case__text Петровский Путевой Дворец - историческое сооружение, последний дворец на въезд в Москву из Петербурга. Дворец строился по приказу Екатерины II в связи с окончанием Русско-турецкой войны. Дворец имел стратегическое назначение, в нем останавливались императоры перед коронацией. Сегодня Петровский Путевой Дворец - это дом приемов правительства Москвы и отель.
