.filters
  &__nav
    display: flex
    align-items: center
    margin-bottom: 56px
  &__tab
    border-radius: 12px
    margin-right: 16px
    &.active
      color: $pure-white
      background-color: $text_black

  .hide-filter[data-filter]
    visibility: hidden
    overflow: hidden
    max-height: 0
