mixin ExcellenceBlockKey
  .excellence-block
    p.excellence-block__title Как заказать создание сайта?
    ul.excellence-block__list
      li.excellence-block__item
        p.excellence-block__name Обратная связь
        p.excellence-block__description Оставьте заявку на создание сайта через нашу форму обратной связи, либо напишите на корпоративный e-mail или позвоните
        button.excellence-block__button.button.button--black
          span.button__text Оставить заявку
      li.excellence-block__item
        p.excellence-block__name Подписание договора
        p.excellence-block__description Далее будет заполнение брифа, встречи, согласование Технического задания и договора на оказание услуг
        button.excellence-block__button.button.button--more
          span.button__text Пример договора
          <svg class="icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="100%" rx="50%" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2933 18.2933C10.9023 18.6842 10.9023 19.3162 11.2933 19.7072C11.6843 20.0982 12.3163 20.0982 12.7073 19.7072L17.7073 14.7073C18.0983 14.3163 18.0983 13.6842 17.7073 13.2933L12.7073 8.29325C12.3163 7.90225 11.6843 7.90225 11.2933 8.29325C10.9023 8.68425 10.9023 9.31625 11.2933 9.70725L15.5863 14.0002L11.2933 18.2933Z" fill="white"/>
          </svg>
      li.excellence-block__item
        p.excellence-block__name Создание и сдача сайта
        p.excellence-block__description Создание сайта строго по Техническому заданию. После сдачи сайта, ваш менеджер предложит услуги интернет-маркетинга
        button.excellence-block__button.button.button--more
          span.button__text Пример договора
          <svg class="icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="100%" rx="50%" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2933 18.2933C10.9023 18.6842 10.9023 19.3162 11.2933 19.7072C11.6843 20.0982 12.3163 20.0982 12.7073 19.7072L17.7073 14.7073C18.0983 14.3163 18.0983 13.6842 17.7073 13.2933L12.7073 8.29325C12.3163 7.90225 11.6843 7.90225 11.2933 8.29325C10.9023 8.68425 10.9023 9.31625 11.2933 9.70725L15.5863 14.0002L11.2933 18.2933Z" fill="white"/>
          </svg>

mixin ExcellenceBlockPromotion
  .excellence-block
    p.excellence-block__title Виды продвижения сайтов
    ul.excellence-block__list
      li.excellence-block__item
        p.excellence-block__name SEO продвижение
        p.excellence-block__description По-другому, поисковая оптимизация сайта или увеличение органического трафика из поисковых систем
      li.excellence-block__item
        p.excellence-block__name Интернет-реклама
        p.excellence-block__description Настройка, ведение, анализ рекламных кампаний в Яндекс.Директ и Google Adwords. Отслеживание положительного роста RO
      li.excellence-block__item
        p.excellence-block__name Наружная реклама
        p.excellence-block__description WEBSTER STD создает рабочий дизайн печатной продукции, придорожных баннеров и других видов наружной рекламы
