mixin CardPriceMin
  .card-price
    .card-price__box.card-price__box--gradient-1
      p.card-price__title Минимальный
      p.card-price__price 54 700 ₽/месяц
    ul.card-price__list
      li.card-price__list-item SERM - управление репутацией на Яндекс, Google, Zoon, ПроДокторов
      li.card-price__list-item Настройка и ведение Яндекс.Директ, Google Adwords, Instagram, Facebook
      li.card-price__list-item SEO продвижение сайта клиники
      li.card-price__list-item Добавление контента клиники на агрегаторах
      li.card-price__list-item.card-price__list-item--disabled Создание видео и фото контента
      li.card-price__list-item.card-price__list-item--disabled Технический контроль работы сайта
      li.card-price__list-item.card-price__list-item--disabled Аналитика телефонных звонков
      li.card-price__list-item.card-price__list-item--disabled Создание landing page под промо акции
      li.card-price__list-item.card-price__list-item--disabled Аналитика юзабилити пользователей
      li.card-price__list-item.card-price__list-item--disabled Изменение блоков на сайте, создание нового функционала
    button.button.button--black.card-price__button
      span.button__text Начать проект

mixin CardPriceOptima
  .card-price
    .card-price__box.card-price__box--gradient-2
      p.card-price__title Оптимальный
      p.card-price__price 54 700 ₽/месяц
    ul.card-price__list
      li.card-price__list-item SERM - управление репутацией на Яндекс, Google, Zoon, ПроДокторов
      li.card-price__list-item Настройка и ведение Яндекс.Директ, Google Adwords, Instagram, Facebook
      li.card-price__list-item SEO продвижение сайта клиники
      li.card-price__list-item Добавление контента клиники на агрегаторах
      li.card-price__list-item Создание видео и фото контента
      li.card-price__list-item Технический контроль работы сайта
      li.card-price__list-item Аналитика телефонных звонков
      li.card-price__list-item.card-price__list-item--disabled Создание landing page под промо акции
      li.card-price__list-item.card-price__list-item--disabled Аналитика юзабилити пользователей
      li.card-price__list-item.card-price__list-item--disabled Изменение блоков на сайте, создание нового функционала
    button.button.button--black.card-price__button
      span.button__text Начать проект

mixin CardPriceMax
  .card-price
    .card-price__box.card-price__box--gradient-3
      p.card-price__title Максимальный
      p.card-price__price 54 700 ₽/месяц
    ul.card-price__list
      li.card-price__list-item SERM - управление репутацией на Яндекс, Google, Zoon, ПроДокторов
      li.card-price__list-item Настройка и ведение Яндекс.Директ, Google Adwords, Instagram, Facebook
      li.card-price__list-item SEO продвижение сайта клиники
      li.card-price__list-item Добавление контента клиники на агрегаторах
      li.card-price__list-item Создание видео и фото контента
      li.card-price__list-item Технический контроль работы сайта
      li.card-price__list-item Аналитика телефонных звонков
      li.card-price__list-item Создание landing page под промо акции
      li.card-price__list-item Аналитика юзабилити пользователей
      li.card-price__list-item Изменение блоков на сайте, создание нового функционала
    button.button.button--black.card-price__button
      span.button__text Начать проект
