include ../components/index
block variables

- var activePage = activePage

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible' content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    meta(name="keywords" content="")

    <!--favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--favicon end-->

    link(rel="stylesheet" type='text/css' href="assets/css/libs.min.css")
    link(rel="stylesheet" type='text/css' href="assets/css/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.6/lottie.min.js" type="text/javascript" rel="preload")
    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .page
      +Header
      main
        block content
        +Footer
    script(src="assets/js/libs.min.js")
    script(src="assets/js/main.js")
    block script
