.contacts
  display: flex
  height: calc(100vh - 164px)

  &__box
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    //@include font(48, 60)
    font-size: clamp(1824px, calc(18px + (48 - 24) * ((100vw - 768px) / (1920 - 768))), 48px)
    line-height: 1.6
    font-weight: 500
    margin-bottom: 24px
    &:last-child
      margin-bottom: 0

  &__description
    display: flex
    flex-direction: column
    width: 40%

  &__map
    position: absolute
    top: 0
    left: 45%
    width: 55%
    height: 100%
    background-color: red

  &__box
    padding: 56px 0

  &__footer
    margin-top: auto
    .section-row__inner
      padding-left: 0
      padding-right: 0
