mixin SliderCardType
  a.not-link.slider-card-type(href="#")&attributes(attributes)
    .slider-card-type__image
      img(src="./assets/img/slider-card-test.jpg")
    .slider-card-type__blur
      img(src="./assets/img/slider-card-test.jpg")
    .slider-card-type__box
      p.slider-card-type__title Elite Denta
      p.slider-card-type__description Создание сайта для стоматологической клиники
